<h3>Mat Toolbar color primary</h3>
<mat-toolbar color="primary">
    <p>Conteúdo do toolbar</p>
</mat-toolbar>

<h3>Mat Toolbar Row color accent</h3>
<mat-toolbar color="accent">
    <mat-toolbar-row>linha 1</mat-toolbar-row>
    <mat-toolbar-row>
        l2
        <span class="fill-center"></span>
        r2
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="position-center">c3</span>
    </mat-toolbar-row>
</mat-toolbar>

<h3>Mat Toolbar color warn</h3>
<mat-toolbar color="warn">
    <span class="fill-center"></span>
    direita
</mat-toolbar>