<p>Diretivas são um recurso do Angular que permite modificarmos a aparência e atribuir comportamento</p>

<button mat-button>Básico</button>

<button mat-button color="primary">Primary</button>

<button mat-button color="accent">Accent</button>

<button mat-button color="warn">Warn</button>

<button mat-button disabled>Disabled</button>


<p>Raised Buttons</p>
<button mat-raised-button>Basic</button>

<button mat-raised-button color="primary">Primary</button>

<button mat-raised-button color="accent">Accent</button>

<button mat-raised-button color="warn">Warn</button>

<button mat-raised-button disabled>Disabled</button>

<a title="link" mat-raised-button routerLink=".">Link</a>


<p>Flat Buttons</p>
<button mat-flat-button>Basic</button>

<button mat-flat-button color="primary">Primary</button>

<button mat-flat-button color="accent">Accent</button>

<button mat-flat-button color="warn">Warn</button>

<button mat-flat-button disabled>Disabled</button>

<a title="link" mat-flat-button routerLink=".">Link</a>


<p>Fab Mini Buttons</p>
<button mat-mini-fab>Basic</button>

<button mat-mini-fab color="primary">Primary</button>

<button mat-mini-fab color="accent">Accent</button>

<button mat-mini-fab color="warn">Warn</button>

<button mat-mini-fab disabled>Disabled</button>
